<main>
    <div>
        ChatSocket
<input type="text" name="message" id="message">
<div id="listMensajes"></div>


    </div>
</main>
<script src="socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>