<main>
    <h1>Esta es mi tienda</h1>
    <ul>
        {{#each productList}}
        <li>{{this.title}}</li>
        {{/each}}
    </ul>
    <div>
        <a href="/login" class="btn btn-primary">Login</a>
    </div>
</main>
<script src="/js/home.js"></script>