@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8e57b76b-11bf-4a8f-9a32-43a49255261b/d1bjusx-91e38258-cc40-4fa9-8523-0209acd3bc6a.jpg/v1/fill/w_1234,h_647,q_70,strp/daily_concepts_1_by_gaius31duke_d1bjusx-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjYyIiwicGF0aCI6IlwvZlwvOGU1N2I3NmItMTFiZi00YThmLTlhMzItNDNhNDkyNTUyNjFiXC9kMWJqdXN4LTkxZTM4MjU4LWNjNDAtNGZhOS04NTIzLTAyMDlhY2QzYmM2YS5qcGciLCJ3aWR0aCI6Ijw9MTI2MiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.IekglHdq4-ILxInoAiKNDMrUgHxDgAKJE2Sp9b7QXrc');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 350px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header{
    padding: 0.75rem 1.25rem;
}

.card-header h3{
color: white;
}

.card-body{
    padding: 1.25rem;
}

.social_icon{
position: absolute;
right: 20px;
top: -35px;
}

.input-group span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}