* {
    margin: 0;
    padding: 0;
}

h1 {
    color: red
}

h1 {
    color: red
}

#rtpList {
    margin: 3rem
}

#formularioRtp {
    margin: 3rem;
}

#formularioRtp .form-control {
    border-color: black;

}